annotated-doc
annotated-types
anyio
asyncio
bcrypt
certifi
click
colorama
dnspython
dotenv
fastapi
h11
httpcore
httpx
idna
pydantic
pydantic_core
pymongo
python-dotenv
starlette
typing-inspection
typing_extensions
uvicorn
